

nav {
    display: flex;
    align-items: center;
    /* padding-bottom: 2%; */
    justify-content: space-between;
    /* padding: 2px; */
    margin: 0;
    background-color: #292d63;
    /* color: black */
  }
  
  .nav-links {
   
    /* border: 2px solid red; */
    padding: 0;
    margin-right: 2%;
  
    margin-top: 1%;
  }
  
  .nav-links a {
    color: rgb(245, 242, 242);
  }
  
  /* LOGO */
  
  .logo {
    margin-left: 3%;
    padding: 0;
    width: 73%;
  }
  
  .logo a img {
      width: 20%;
      align-items: center;
      object-fit: cover;
      padding-bottom: 1%;
      padding-top: 1%;
    
    }
  
  
  /* NAVBAR MENU */
  
  /* .menu {
    display: flex;
    gap: 2em;
    font-size: 1em;
    z-index: 1;
  } */

  .title{
    width: 20%;
    transition: 1s;
  }

  .title h2{
    color: aliceblue;
    font-size: x-large;
  }

  .title h2:hover{
    color: #f84464;
    transition: 0.5s;
    cursor: pointer;

  }
  

  
  
  /* .menu li a:hover {
    color: #f84464;
    padding: 2%;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    border-radius: 5px;
    transition: 0.3s ease;
  } */
  


  
  /* APPLYING MEDIA QUERIES */
  
  @media (max-width: 625px) {
    .menu {
      margin-top: 2%;
      display: none;
      position: absolute;
      background-color: #575c9d;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .navbar_real{
      padding: 0;
    }
    .menu li:hover {
      display: inline-block;
      transition: 0.3s ease;
    }
    .menu li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
    .hamburger {
      display: block;
      /* color: #f9f9f9; */
      margin-top: 0;
    }
    .main_container {
      margin-top: 10%;
    }
    .logo {
      width: 44%;
    }
    .logo a img {
      width: 100%;
    }
    .nav-links {
      /* margin-top: 5%; */
      margin-right: 5%;
    }
  }
  